In [1]:
from api_data_fetcher import MyAPI
from database_handler import MySQL
from feature_engineering import TechnicalIndicatorGenerator
from model_trainer import ModelPipeline

import warnings
warnings.filterwarnings("ignore")

In [2]:
api = MyAPI()

In [3]:
df_stock = api.get_stock(symbol = 'IBM', size = 'full')
df_crypto = api.get_crypto(symbol = 'BTC', market = 'USD', size = 'full')

In [4]:
df_stock.head()

              open    high     low   close   volume
timestamp
2025-05-15  259.01  267.43  258.61  266.68  4856276
2025-05-14  257.60  260.55  256.22  257.82  3635124
2025-05-13  254.43  259.58  252.88  258.59  3521389
2025-05-12  252.50  253.81  244.65  253.69  4609520
2025-05-09  252.51  253.00  247.64  249.20  2901346

In [5]:
df_crypto.head()

             open     high      low  close   volume
timestamp
2025-05-15  45.43  46.1700  44.9300  45.70   669748
2025-05-14  46.11  46.2500  45.4650  45.77  1020446
2025-05-13  45.97  46.5535  45.5800  46.45  1246796
2025-05-12  46.13  46.3300  44.6554  45.11  1179521
2025-05-09  45.63  46.0050  45.3600  45.75  1311055

In [1]:
mysql = MySQL()

In [2]:
mysql.to_table(df_stock, 'ibm', if_exists = 'replace')

NameError: name 'df_stock' is not defined

In [1]:
from api_data_fetcher import MyAPI
from database_handler import MySQL
from feature_engineering import TechnicalIndicatorGenerator
from model_trainer import ModelPipeline

import warnings
warnings.filterwarnings("ignore")
mysql = MySQL()

mysql = MySQL()
df_stock_new = mysql.from_table(symbol = 'ibm')
df_stock_new.shape

Data retrieved from table 'ibm' successfully.

(500, 5)

In [2]:
ind = TechnicalIndicatorGenerator()
df = ind.generate_indicators(df_stock_new)
df.shape

(301, 171)

In [3]:
model = ModelPipeline()

In [4]:
model.vertical_split(df, 'class')

In [5]:
results = model.train_with_kfold()

Applying PCA feature selection...
Applying Dispersion_Ratio feature selection...
Applying Chi_Square feature selection...
Applying Pearson_Correlation feature selection...
Applying Mean_Absolute_Difference feature selection...
Applying Low_Variance feature selection...
Evaluating Model on All Features...
Threshold n = 0: 170 features, accuracy = 0.8167
Evaluating Features Selected by atleast 1 Methods...
Threshold n = 1: 100 features, accuracy = 0.8000
Evaluating Features Selected by atleast 2 Methods...
Threshold n = 2: 59 features, accuracy = 0.8333
Evaluating Features Selected by atleast 3 Methods...
Threshold n = 3: 45 features, accuracy = 0.8500
Evaluating Features Selected by atleast 4 Methods...
Threshold n = 4: 39 features, accuracy = 0.8032
Evaluating Features Selected by atleast 5 Methods...
Threshold n = 5: 9 features, accuracy = 0.6833
No Features Selected for Threshold n = 6

In [6]:
results

,index,num_features,features,accuracy,time_taken,epochs
0,5,9,"[BBP_20_2.0, rsi_21_hl2, rsi_6_hl2, rsi_6_hlc3...",0.683333,10.896016,1033
1,4,39,"[dec, rsi_6_hlc3, rsi_30_ohlc4, zscore_30, CCI...",0.803226,2.429376,135
2,3,45,"[dec, rsi_6_hlc3, rsi_30_ohlc4, zscore_30, CCI...",0.85,48.675785,142
3,2,59,"[dec, rsi_6_hlc3, rsi_30_ohlc4, zscore_30, clo...",0.833333,37.335247,118
4,1,100,"[rsi_30_ohlc4, zscore_30, CCI_14_0.015, rollin...",0.8,26.401969,80
5,0,170,"[open, high, low, close, volume, hl2, hlc3, oh...",0.816667,72.27511,100