In [1]:
from api_data_fetcher import MyAPI
from database_handler import MySQL
from feature_engineering import TechnicalIndicatorGenerator
from model_trainer import ModelPipeline

import warnings
warnings.filterwarnings("ignore")

In [2]:
api = MyAPI()

In [3]:
df_stock = api.get_stock(symbol = 'IBM', size = 'full')
df_crypto = api.get_crypto(symbol = 'BTC', market = 'USD', size = 'full')

In [4]:
df_stock.head()

              open    high     low   close   volume
timestamp
2025-05-15  259.01  267.43  258.61  266.68  4856276
2025-05-14  257.60  260.55  256.22  257.82  3635124
2025-05-13  254.43  259.58  252.88  258.59  3521389
2025-05-12  252.50  253.81  244.65  253.69  4609520
2025-05-09  252.51  253.00  247.64  249.20  2901346

In [5]:
df_crypto.head()

             open     high      low  close   volume
timestamp
2025-05-15  45.43  46.1700  44.9300  45.70   669748
2025-05-14  46.11  46.2500  45.4650  45.77  1020446
2025-05-13  45.97  46.5535  45.5800  46.45  1246796
2025-05-12  46.13  46.3300  44.6554  45.11  1179521
2025-05-09  45.63  46.0050  45.3600  45.75  1311055

In [1]:
mysql = MySQL()

In [ ]:
mysql.to_table(df_stock, 'ibm', if_exists = 'replace')

In [1]:
from api_data_fetcher import MyAPI
from database_handler import MySQL
from feature_engineering import TechnicalIndicatorGenerator
from model_trainer import ModelPipeline

import warnings
warnings.filterwarnings("ignore")
mysql = MySQL()

mysql = MySQL()
df_stock_new = mysql.from_table(symbol = 'ibm')
df_stock_new.shape

Data retrieved from table 'ibm' successfully.

(500, 5)

In [2]:
ind = TechnicalIndicatorGenerator()
df = ind.generate_indicators(df_stock_new)
df.shape

(301, 171)

In [3]:
model = ModelPipeline()

In [4]:
model.vertical_split(df, 'class')

In [5]:
results = model.train_with_kfold()

Applying PCA feature selection...
Applying Dispersion_Ratio feature selection...
Applying Chi_Square feature selection...
Applying Pearson_Correlation feature selection...
Applying Mean_Absolute_Difference feature selection...
Applying Low_Variance feature selection...
Evaluating Model on All Features...
Threshold n = 0: 170 features, accuracy = 0.8167
üèÉ View run KFold_n_0_20250516_170216 at: http://127.0.0.1:5000/#/experiments/2/runs/7a50a127cc5c4eceaf5610121f064787
üß™ View experiment at: http://127.0.0.1:5000/#/experiments/2
Evaluating Model on Features Selected by ‚â• 1 Methods...
Threshold n = 1: 100 features, accuracy = 0.8000
üèÉ View run KFold_n_1_20250516_170216 at: http://127.0.0.1:5000/#/experiments/2/runs/21e6e898463c4203a56b70e5a28e7e4d
üß™ View experiment at: http://127.0.0.1:5000/#/experiments/2
Evaluating Model on Features Selected by ‚â• 2 Methods...
Threshold n = 2: 59 features, accuracy = 0.8366
üèÉ View run KFold_n_2_20250516_170216 at: http://127.0.0.1:5000/#/experiments/2/runs/10097b37332e47fd87b68a5dc7b9f7fe
üß™ View experiment at: http://127.0.0.1:5000/#/experiments/2
Evaluating Model on Features Selected by ‚â• 3 Methods...
Threshold n = 3: 45 features, accuracy = 0.8333
üèÉ View run KFold_n_3_20250516_170216 at: http://127.0.0.1:5000/#/experiments/2/runs/019152f40a11442fb992fbacf013477d
üß™ View experiment at: http://127.0.0.1:5000/#/experiments/2
Evaluating Model on Features Selected by ‚â• 4 Methods...
Threshold n = 4: 39 features, accuracy = 0.8527
üèÉ View run KFold_n_4_20250516_170216 at: http://127.0.0.1:5000/#/experiments/2/runs/14b7664db69849ca9fba35921b5ae8f4
üß™ View experiment at: http://127.0.0.1:5000/#/experiments/2
Evaluating Model on Features Selected by ‚â• 5 Methods...
Threshold n = 5: 9 features, accuracy = 0.6667
üèÉ View run KFold_n_5_20250516_170216 at: http://127.0.0.1:5000/#/experiments/2/runs/dc2971d1262649c29624b623d37d2d8b
üß™ View experiment at: http://127.0.0.1:5000/#/experiments/2
No Features Selected for Threshold n = 6
üèÉ View run Final_Results_20250516_170216 at: http://127.0.0.1:5000/#/experiments/2/runs/712d9f21c64b46a1a359d524abbfee4c
üß™ View experiment at: http://127.0.0.1:5000/#/experiments/2
üèÉ View run Best_Model_n_4_20250516_170216 at: http://127.0.0.1:5000/#/experiments/2/runs/e66070633e36486198a3da03d37c878c
üß™ View experiment at: http://127.0.0.1:5000/#/experiments/2